// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.categories-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 20px;
  margin-left: 20px;
}

.category {
  width: 600px;
  height: 400px;
  color: white;
}

#Appliances {
  background-image: url('stove.jpg');
}

#Cars-trucks {
  background-image: url('cars.jpg')
}

#Books{
  background-image: url('books.jpg')
}

#Video-games {
  background-image: url('videogames.jpg')
}

#Furnitures {
  background-image: url('furnitures.jpg')
}

#Computers {
  background-image: url('computer.jpg')
}

#Electronics {
  background-image: url('electronics.jpg')
}

#Motorcycle {
  background-image: url('motorbike.jpg')
}

#Phones {
  background-image: url('phone.jpg')
}

#Bikes {
  background-image: url('bike.jpg')
}

#Tickets {
  background-image: url('tickets.jpg')
}
